:root {
    --main-text-color: rgb(255, 255, 255);
    --main-bg-color: #000;
    --main-brand-color: #e50914;
    --main-brand-color-light: #e44c54;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.main-bg {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    /* opacity: 1; */
}

* {
    box-sizing: border-box;
}