.btn {
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-brand-color);
    transition: background-color 2s;
    /* transition: all 1s; */
    /* transition-delay: 1s; */
}

.btn:hover {
    background-color: blue;    
}

.btn.btn--secondary {
    background-color: transparent;
    border-color: var(--main-text-color);
}

.form__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.form__element--checkbox {
    flex-direction: row;
    align-items: center;
}

.form__label {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}

.form__input {
    padding: 16px 12px;
    border-radius: 5px;
    background: #333;
    border: none;
    color: rgb(255, 255, 255);
    color: var(--main-text-color);
}

/* textarea::placeholder {
    color: #999;
}

input::placeholder {
    color: #999;
} */

input::placeholder, textarea::placeholder {
    color: #999;
}

.hidden-xs {
    display: none;
    /* visibility hidden */
}

@media print {
    * {
        color: red;
    }
}

@media screen and (min-width: 768px) {
    .hidden-xs {
        display: block;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

.spinner {
    margin: 20px;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(216, 216, 216);
    border-left-color: red;
    border-radius: 50%;
    animation: spin 1s ease-in;
    animation-iteration-count: infinite;
}
