.footer {
    text-align: center;
    font-style: italic;
    background-color: var(--main-bg-color);   
    /*background: radial-gradient( 51.39% 511.66% at 47.68% -217.91%, #fcfcfc 0%, #09b9e5 17.27%, #691ca0 79.44%, #000413 100% );
    text-shadow: 2px 2px 5px rgb(52, 3, 80);
    /* T - R - B - L */
    padding-top: 10px;
    padding: 50px 10px 10px 10px;
    /* Y - X */
    padding: 20px 0;
    /* ALL */
    padding: 40px;
    /* border */
    /* border-radius: 5px; */
    /* margin = padding */
    /* margin-bottom: 80px; */
    font-size: 12px;
}
/* 1rem = 16px */
.footer p {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    text-transform: capitalize;
    /* line-height: 1.4; */
}

.footer .footer__company {
    font-style: normal;
}

