.show {
    width: 90%;
    margin: 0 auto;
}

.shows__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 15px
}

.shows .shows__list img {
    width: 100%;
}

.shows .shows__list figure {
    margin: 0;
}

@media (min-width: 768px) {
    .shows__list {
        grid-template-columns: repeat(4, 1fr);
    }
}